body{
    font-family: Arial;
    display: flex;
    justify-content: center;
}
.masterContainer{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.taskInputElement{
    width: 250px;
    height: 25px;
    padding: 2px 5px 2px 5px;
    font-size: 16px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    outline: none;
    box-shadow: 0px 0px 3px rgb(153, 153, 153);
}
.taskInputElement::placeholder{
    font-size: 15px;
}
.dateInputElement{
    height: 25px;
    padding: 2px 5px 2px 5px;
    font-size: 16px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    outline: none;
    box-shadow: 0px 0px 3px rgb(153, 153, 153);
}
.addButton{
    background-color: rgb(0, 122, 6);
    border: none;
    height: 30px;
    width: 80px;
    border-radius: 2px;
    color: white;
    box-shadow: 5px 5px 0px black;
    margin-bottom: 5px;
}


.addButton:active{
    transform: translatey(2px);
    box-shadow: 1px 1px 0px black;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 20px;
}

.taskDisplayContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 8px 0px 8px 0px;
}
.taskContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 4px 0px 4px 0px;
    padding: 0px 16px 0px 16px;
}
.taskParagraph{
    margin: 0px;
}
.deleteButton{
    background-color: rgb(189, 0, 0);
    border: none;
    height: 30px;
    width: 80px;
    border-radius: 2px;
    color: white;
}
.deleteButton:hover{
    background-color: red;
}
.date{
    display: flex;
    align-items: center;
    margin: 0px;
    gap: 25px;
}

.addButton,
.deleteButton{
    cursor: pointer;
}